@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'IranYekan';
    src: url('./assets/fonts/IranYekan/IranYekan.eot');
    src: url('./assets/fonts/IranYekan/IranYekan.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/IranYekan/IranYekan.woff2') format('woff2'),
    url('./assets/fonts/IranYekan/IranYekan.woff') format('woff'),
    url('./assets/fonts/IranYekan/IranYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
}

.root,
#root,
#docs-root {
    --my-red: #F04D7D;
    --my-blue: #41C1C6;
}
.h-costume-120{
    height: 34rem;
}
.ltr{
    direction: ltr;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}